<li class="header">TUTOR</li>
<li class="treeview">
    <a href="#">
        <span>Cursos</span> 
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li data-controller="course/list">
            <a href="?exe=course/list">
                <i class="icon-circle-o"></i>
                Meus cursos
            </a>
        </li>
        <li data-controller="course/new">
            <a href="#">
                <i class="icon-circle-o"></i>
                Criar novo curso
            </a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <span>Alunos</span> 
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li data-controller="student/list">
            <a href="#">
                <i class="icon-circle-o"></i>
                Lista de alunos
            </a>
        </li>
    </ul>
</li>
<li data-controller="test">
    <a href="#">
        <span>Atividades</span>
    </a>
</li>