<ul class="sidebar-menu">
    <li class="header">ALUNO</li>
    <li data-controller="dashboard">
        <a href="index.php">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li data-controller="calendario">
        <a href="?exe=calendario">
            <i class="fa fa-calendar"></i>
            <span>Calendário</span>
        </a>
    </li>
    <li class="#ativar_perfil#">
        <a href="?exe=user/active&level=cursista">
            <i class="icon-power-off"></i>
            <span>Ativar perfíl de cursista</span>
        </a>
    </li>
    #nav_85#
    #nav_80#
    <!--    #nav_70#-->
    #nav_100#
</ul>